/**********
    SPECIFIC STYLES:
    tag-name
    .class-name
    #id-name
**********/

/* general styles */
.standard {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
body {
    background-color: #263638;
}
.big-font {
    font-size: 400%;
}
.text-middle{
    line-height: 8.5vh;
    text-align: center;
}
.light-border {
    border: lightgray 2px solid;
}
h2 {
    font-family: 'Inconsolata', monospace;
    font: weight 500;
}
.hidden {
    display:none;
}
/* header */
.header {
    background-color: rgb(108, 169, 209);
    border-top: lightgray 2px solid;
    border-bottom: lightgray 2px solid;
    height: 10vh;
}
#icons a + a {
    padding-left: 2vw;
    text-align: right;
 } 
#name {
    font-family: 'Inconsolata', monospace;
    font: weight 700;
    white-space: nowrap;
    display: inline-block;
    border-left: lightgray 2px solid;
}
#icons {
    font-size: 150%;
    border-right: lightgray 2px solid;
}

/* about */
.about {
    background-color: rgb(164, 204, 231);;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-top: 2vh;
}
.about p {
    padding-left: 4vw;
    padding-right: 4vw;
}
/* experience, leadership */
#experience {
    background-color: lightcyan;
    border-left: lightgray 2px solid;
    border-bottom: lightgray 2px solid; 
    border-top: lightgray 2px solid;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#experience ul {
    padding-left: 6vw;
}

#leadership {
    background-color: lightsteelblue;
    border-right: lightgray 2px solid;
    border-bottom: lightgray 2px solid;
    border-top: lightgray 2px solid;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
#leadership ul {
    padding-left: 6vw;
}
.job:hover {
    font-weight: bold;
}
li:hover > .hidden {
    display:block;
    font-weight:normal;
}
.description {
    font-style: italic;
    margin-bottom: 0px;
}
.sublist {
    padding: 0px;
    margin-top: 0px;
}

/* footer */


.story2 {
    background-color: lightgoldenrodyellow;
    border-left: black 2px solid; 
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.sidebar2 {
    background-color: lightgreen;
    border-right: black 2px solid;
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/**********
MEDIA QUERIES:
**********/

/* for mobile */
@media screen and (max-width: 767px) {
    #name  {
      border-bottom: none;
      border-right: lightgray 2px solid;
    }
    .big-font {
        font-size: 300%;
    }
    #icons {
        border-top: none;
        border-left: lightgray 2px solid;
        font-size: 125%;
    }
}