/*
    Write your CSS in this file.
    Reference the powerpoints, google, or past CSS files for structure
    Examples:

    - Apply CSS to a specific HTML tag:
    tag-name {
        selector: value;
    }

	- A class:
    .class-name {
        selector: value;
    }

    - A ID:
    #id-name {
        selector: value;
    }
    
    look on W3 schools website for any specific questions on what CSS selectors and styles to use/what the correct syntax is.
*/

@media screen and (max-width: 767) {
    #name { 
        border-bottom: none !important; 
        border-right: lightgray 2px solid !important;
    }
    #icons {
        border-top: none !important;
        border-left: lightgray 2px solid !important;
    }
  }

body {
    background-color: #263638;
}
.header {
    background-color: #4B9CD3;
    border-top: lightgray 2px solid;
    border-bottom: lightgray 2px solid;
    height: 10vh;
}

.big-font {
    font-size: 400%;
}
#icons a + a {
    padding-left: 2vw;
    text-align: right;
 } 
#name {
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    display: inline-block;
    border-left: lightgray 2px solid;
}

#icons {
    font-size: 150%;
    border-right: lightgray 2px solid;
}

.text-middle{
    line-height: 8.5vh;
    text-align: center;
}

.standard {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.banner {
    background-color: #c7dcff;
    border: lightgray 1px solid;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.story1 {
    background-color: lightcyan;
    border-left: lightgray 1px solid;
    border-bottom: lightgray 1px solid; 
    border-top: lightgray 1px solid;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.sidebar1 {
    background-color: lightsteelblue;
    border-right: lightgray 1px solid;
    border-bottom: lightgray 1px solid;
    border-top: lightgray 1px solid;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.story2 {
    background-color: lightgoldenrodyellow;
    border-left: black 2px solid; 
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.sidebar2 {
    background-color: lightgreen;
    border-right: black 2px solid;
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

