/*
    Write your CSS in this file.
    Reference the powerpoints, google, or past CSS files for structure
    Examples:

    - Apply CSS to a specific HTML tag:
    tag-name {
        selector: value;
    }

	- A class:
    .class-name {
        selector: value;
    }

    - A ID:
    #id-name {
        selector: value;
    }
    
    look on W3 schools website for any specific questions on what CSS selectors and styles to use/what the correct syntax is.
*/
body {
    background-color: darkgrey;
}
.header {
    background-color: lightblue;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    height: 10vh;
}

.h-left {
    border-left: black 2px solid;
}
.h-right {
    border-right: black 2px solid;
}

.big-font {
    font-size: 400%;
}
#icons a + a {
    padding-left: 2vw;
    text-align: right;
 } 
#name {
    font-family: 'Inconsolata', monospace;
    white-space: nowrap;
    display: inline-block;
}

#icons {
    font-size: 150%;
}


.text-middle{
    line-height: 8.5vh;
    text-align: center;
}

.standard {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.banner {
    background-color: lightcoral;
    border-left: black 2px solid; 
    border-right: black 2px solid;
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 13vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.story1 {
    background-color: lightcyan;
    border-left: black 2px solid; 
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 48vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.sidebar1 {
    background-color: lightgray;
    border-right: black 2px solid;
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 48vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.story2 {
    background-color: lightgoldenrodyellow;
    border-left: black 2px solid; 
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.sidebar2 {
    background-color: lightgreen;
    border-right: black 2px solid;
    border-bottom: black 2px solid; 
    border-top: black 2px solid;
    height: 23vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}